@media(min-width: 1921px){
	.hero_banner { display: flex; align-items: center; justify-content: center; }
}
@media(min-width: 1441px){
	.hero_banner .orange_btn { padding: 0 58px; font-size: 20px; line-height: 24px;}
}

@media(max-width: 1440px){
	header { height: 74px; padding: 0 110px; }
	header .logo { font-size: 26px; line-height: 32px; width: 166px; }
	header .tel_no { font-size: 19px; line-height: 21px; height: 44px; padding: 0 21px 0 16px; }
	.dk-selected { height: 44px; font-size: 15px; line-height: 19px; padding: 0 28px 0 11px; }
	.dk-selected:before { right: 11px; background-size: 10px; }
	.dk-option { font-size: 14px; line-height: 18px; }
	.hero_banner { padding-top: 74px; }
	.hero_banner h1 { font-size: 34px; line-height: 40px; margin: 13px 0 32px; }
	.hero_banner p { margin-bottom: 20px; font-size: 18px; line-height: 22px; }
	.hero_banner .area_code { height: 52px; margin-bottom: 37px; }
	.hero_banner .area_code .area_name { font-size: 18px; line-height: 22px; padding: 0 17px; }
	.hero_banner .area_code .area_input { font-size: 18px; line-height: 22px; max-width: 91px; }

	.orange_btn { font-size: 16px; line-height: 20px; height: 54px; padding: 0 32px; }
	.info_section .img_block { height: 610px; }
	.info_section.contact_form .content_block p { max-width: 396px; }
	.info_section .content_block p { max-width: 450px; font-size: 40px; line-height: 60px; }

	.info_section.left_img .content_block p { max-width: 400px; }

	.info_section.contact_form .img_block h2 { font-size: 32px; line-height: 40px; margin-bottom: 50px; }
	.form_outer { width: 433px; }

	.form-group { margin-bottom: 20px; }
	.form-control { height: 65px; padding: 0 28px; font-size: 18px; line-height: 22px; }

	::-webkit-input-placeholder { font-size: 18px; line-height: 22px; }
	::-moz-placeholder { font-size: 18px; line-height: 22px; }
	:-ms-input-placeholder { font-size: 18px; line-height: 22px; }
	:-moz-placeholder { font-size: 18px; line-height: 22px; }

	footer { margin-top: 63px; }
	footer nav { margin-top: 17px; }
	footer p { font-size: 16px; line-height: 20px; }
	footer nav ul li { margin-right: 34px; }
	footer nav ul li a { font-size: 16px; line-height: 20px; }

	.price_slider { height: 200px !important; width: 200px !important; margin: 0 auto 40px; }
	.rs-container { height: 200px !important; width: 200px !important; }
}

@media(max-width: 1365px){
	header { padding: 0 50px; }
	header .tel_no { margin-right: 0; }
	.hero_banner h1 { margin-top: 0; }
	.info_section .img_block { height: 475px; }
	.info_section.contact_form .img_block h2 { font-size: 28px; line-height: 36px; margin-bottom: 24px; }
	.form-control { height: 50px; padding: 0 25px; font-size: 16px; line-height: 20px; }
	::-webkit-input-placeholder { font-size: 16px; line-height: 20px; }
	::-moz-placeholder { font-size: 16px; line-height: 20px; }
	:-ms-input-placeholder { font-size: 16px; line-height: 20px; }
	:-moz-placeholder { font-size: 16px; line-height: 20px; }
	.form-group { margin-bottom: 15px; }
	footer { margin-top: 65px; }
	.full .rs-tooltip { font-size: 24px; line-height: 28px; }
}

@media(max-width: 1024px){
	.info_section .content_block p { max-width: 300px !important; font-size: 25px; line-height: 44px; }
	.form_outer { width: 300px; }
	.info_section.contact_form .img_block h2 { font-size: 22px; line-height: 30px; margin-bottom: 16px; }
	.orange_btn { height: 50px; }
	footer { margin-top: 45px; }
	footer nav ul { flex-wrap: wrap; }
	footer nav ul li { margin: 0 0 10px 0; width: 50%; text-align: center; }
	.hero_banner .container { margin-top: -50px; }
	.custom_checkbox { margin: 20px 0; }
}

@media(max-width: 767px){
	.no_scroll { overflow: auto !important; }
	.hero_banner .container { padding: 21px 25px 57px; margin-top: 0; }
	.visible-xs { display: block !important; }
	.hidden-xs { display: none !important; }
	header { height: 52px; padding: 0 18px; }
	header .logo { font-size: 16px; line-height: 20px; width: 110px; }
	header .tel_no { font-size: 14px; line-height: 18px; height: 32px; background: #7d52df; border: none; color: #fff !important; padding: 0 11px; letter-spacing: -0.8px; font-family: 'MetropolisMedium'; }
	header .tel_no i { margin-right: 3px; }
	header .tel_no i svg path { fill: #fff !important; }
	.dk-selected { height: 32px; font-size: 12px; line-height: 16px; padding: 0 22px 0 9px; }
	.dk-selected:before { right: 6px; }
	.dk-option { font-size: 12px; line-height: 16px; }
	.dk-select-open-up .dk-selected:before, .dk-select-open-down .dk-selected:before { top: calc(50% - 4px); }
	.hero_banner { padding-top: 52px; background: #fff url(../images/hero-bg-mob.png); align-items: flex-start; height: auto; }
	.hero_banner h1 { font-size: 20px; line-height: 30px; margin: 1px 20px 20px; }
	.hero_banner p { margin: 0 45px 30px; font-size: 16px; line-height: 22px; }
	.hero_banner .area_code { height: 42px; margin-bottom: 25px; }
	.hero_banner .area_code .area_name { font-size: 14px; line-height: 18px; padding: 0 14px; }
	.hero_banner .area_code .area_input { font-size: 14px; line-height: 18px; max-width: 74px; }
	.price_slider { margin: 0 auto; height: 196px !important; width: 196px !important; }
	.info_section { flex-wrap: wrap; position: relative; }
	.info_section:not(.contact_form) { margin-bottom: -6px; }
	.info_section.overlay_content_mob .content_block { position: absolute; left: 0; right: 0; top: 40px; }
	.info_section.overlay_content_mob .content_block p { color: #fff; padding-right: 10px; }
	.info_section.overlay_content_mob .content_block .highlight { color: #fff; font-size: 26px; }
	.info_section .content_block { width: 100%; padding: 0 25px; }
	.info_section .content_block p { max-width: inherit !important; font-size: 24px; line-height: 30px; }
	.info_section .img_block { width: 100%; background-image: none !important; height: auto !important; order: 2 !important; }
	.info_section.left_img .content_block p { padding: 41px 30px 0 0; margin-bottom: -4px; }
	.info_section .img_block, .info_section .img_block img { width: 100%; }
	.rs-container { height: 196px !important; width: 196px !important; }
	.orange_btn { font-size: 14px; line-height: 18px; height: 45px; padding: 0 25px; }
	.info_section.contact_form { background: -webkit-linear-gradient(287deg, rgb(145, 102, 220) 0%, rgb(112, 59, 201) 80%, rgb(105, 51, 197) 100%); background: -o-linear-gradient(287deg, rgb(145, 102, 220) 0%, rgb(112, 59, 201) 80%, rgb(105, 51, 197) 100%); background: -ms-linear-gradient(287deg, rgb(145, 102, 220) 0%, rgb(112, 59, 201) 80%, rgb(105, 51, 197) 100%); background: -moz-linear-gradient(287deg, rgb(145, 102, 220) 0%, rgb(112, 59, 201) 80%, rgb(105, 51, 197) 100%); background: linear-gradient(163deg, rgb(145, 102, 220) 0%, rgb(112, 59, 201) 80%, rgb(105, 51, 197) 100%); padding: 40px 25px 28px; }
	.info_section.contact_form .content_block p { font-size: 20px; line-height: 26px; color: #fff; text-align: center; margin: 0 20px 37px; }
	.info_section.contact_form .img_block h2 { margin-bottom: 38px; }
	.form_outer { width: 100%; }
	.info_section.contact_form .content_block { padding: 0; }
	.form-control { padding: 0 18px; font-size: 14px; line-height: 18px; }
	::-webkit-input-placeholder { font-size: 14px; line-height: 18px; }
	::-moz-placeholder { font-size: 14px; line-height: 18px; }
	:-ms-input-placeholder { font-size: 14px; line-height: 18px; }
	:-moz-placeholder { font-size: 14px; line-height: 18px; }
	.form-group { margin-bottom: 20px; }
	.info_section.contact_form .orange_btn { height: 50px; }
	footer { margin-top: 44px; }
	footer nav { margin-top: 10px; }
	footer p { font-size: 12px; line-height: 16px; }
	footer nav ul li { width: auto; margin: 0 23px 0 0; }
	footer nav ul li a { font-size: 12px; line-height: 16px; }
	.custom_checkbox { font-size: 15px; line-height: 19px; }
}

@media (max-width: 991px) and (orientation: landscape){
	.hero_banner { height: auto; }
	.no_scroll { overflow: auto !important; }
}

@media (max-width: 767px) and (orientation: portrait){
	/*.hero_banner .container { margin-top: -50px; }*/
}

@media(max-width: 359px){
	.hero_banner h1 { margin: 1px 10px 20px; }
	.hero_banner p { margin: 0 30px 30px; }
	.info_section.overlay_content_mob .content_block p { padding-right: 0; }
	.info_section.contact_form .content_block p { margin-left: 0; margin-right: 0; }

	footer nav ul { margin: 0 -10px; }
	footer nav ul li { margin: 0 15px 0 0; }
}